@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css">

}

<div class="home">
    <h2>Welcome to the Claim Management System</h2>
    <p>Select your role:</p>

    <div class="role-cards">
        <a href="/Home/Login?role=Lecturer" class="card lecturer">
            <h2>Lecturer</h2>
            <p>Submit and track your monthly claims.</p>
        </a>
        <a href="/Home/Login?role=Coordinator" class="card coordinator">
            <h2>Programme Coordinator</h2>
            <p>Review, approve or reject lecturer claims.</p>
        </a>
        <a href="/Home/Login?role=Manager" class="card manager">
            <h2>Programme Manager</h2>
            <p>Approve and reject the lecture claims that were reviewed by the PM</p>
        </a>
    </div>
</div>
